@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-section {
    background-image: url('https://wepik.com/api/image/ai/9b61cfe5-8cbc-4b58-9855-cde99cb43109');
    background-size: cover;
    background-position: center;
    animation: slideBackground 30s linear infinite;
    background-blend-mode: exclusion
        /* Duración y repetición de la animación */
}

.floatClass {
    animation: floatAnimation 50s linear infinite;
    background-blend-mode: exclusion
}

@keyframes slideBackground {
    0% {
        background-position: center;
        /* Posición inicial del fondo */
    }

    20% {
        background-position: 30% 50%;
        /* Posición inicial del fondo */
    }

    40% {
        background-position: 70% 50%;
        /* Posición final del fondo */
    }

    60% {
        background-position: 30% 50%;
        /* Posición inicial del fondo */
    }

    100% {
        background-position: center;
        /* Posición inicial del fondo */
    }
}

@keyframes floatAnimation {
    0% {
        transform: translateX(-50vw);
    }

    50% {
        transform: translateX(25vw);
    }

    100% {
        transform: translateX(-50vw);
    }
}